body{
  background: #00afc4;
  font-family: 'Source Sans Pro', Arial, serif;
}

.logo{
  margin: 20px 0 20px 0;
}

.answer{
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 6px rgba(88,77,55,0.4);
  background-color: white;
  padding: 30px;
  margin-bottom: 100px;
}

.answer h2{
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 10px 0;
	text-align: left;
	color: black;
}

h2.titside {
	font-size: 18px;
	color: white;
	padding: 0;
	text-align: left;
}

.titlebar{
  display: block;
  margin: -30px 0 20px -30px;
  padding: 15px 0 10px 30px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #F9F9F9;
  color: #999;
  font-size: 14px;
}

.tibarside{
	font-size: 16px;
	color: black;
}

ul.side li a {
	background: url(images/stars.png) no-repeat left center;	
	color: white;
	text-decoration: none;
	list-style: none;
	padding: 10px 0 10px 20px;
}

ul.side li a:hover {
	text-decoration: none;
}

ul.side li {
	list-style: none;
	padding: 10px 0 10px 0;
}

ul.side {
	margin: 0;
}

blockquote{
	color: white;
	text-align: center;
	margin-top: 50px;
}