body{
	background: white;
	font-family: 'Source Sans Pro', Arial, serif;
}
.text-center{
	text-align: center;
}
.center{
	margin: 0 auto;
}

.logo{
	margin: 0 auto;
	padding: 50px 0 10px 0;
	background: #21172C;
}

.header{
	background: #21172C url(images/separa.png) center bottom repeat-x;
	min-height: 450px;
}

.header-interno{
	background: #21172C url(images/separa.png) center bottom repeat-x;
	min-height: 480px;
}

.header h1, .header-interno h1{
  font-weight: 100;
	font-size: 55px;
	color: #fff;
	line-height: 40px;
	margin-top: 50px;
}

.header h2, .header-interno h2{
  font-style: normal;
  font-weight: 200; 
	font-size: 30px;
	color: #ccc;
	font-weight: 100;
	margin-bottom: 20px;
}

.header h2 span{
	font-size: 14px;
}

.benefits{
	color: white;
	margin: 50px 0;
}

.demo-browser {
	background: url(images/browser.png) 0 0 no-repeat;
	background-size: 650px 42px;
	border-radius: 6px 6px 6px 6px;
	margin: 0;
	padding-top: 42px;
}

section{
	padding: 50px 0 50px 0;
}

li{
	list-style-image: url(images/list.png);
	margin: 10px 0 10px;
	font-size: 16px;
	font-weight: 100;
	line-height: 5px;
}

a.btn-cta{
  width: 703px;
  min-height: 104px;
  background: url(images/btn-cta.png) no-repeat;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
}

a:hover.btn-cta {
  width: 703px;
  min-height: 104px;
  background: url(images/btn-cta-hover.png) no-repeat;
  display: block;
  text-align: center;
}

.convert{

}

.box-cta{
	color: #222222;
	border-radius: 5px;
	padding: 10px 20px;
	min-height: 120px;
	border: 1px solid #ccc;
	box-shadow: 1px 2px 5px rgba(135,135,135,0.54);
}

.description{
  max-width: 600px;
  background: #d9edf7;
  min-height: 90px;
  padding: 10px 20px;
  border-left: 5px;
  border-right: 2px solid #bce8f1;
}

.btn-cta{
	min-height: 30px;
	line-height: 20px;
	margin-top: 8px;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(224, 111, 0)), to(rgb(255, 137, 21)));
}

.btn-cta:hover{
  background: #ad5600;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ad5600), color-stop(1, #e17000));
  background: -ms-linear-gradient(bottom, #ad5600, #e17000);
  background: -moz-linear-gradient(center bottom, #ad5600 0%, #e17000 100%);
}

.btn-cta span{
	font-size: 14px;
	display: block;
}

.arrow{
	min-height: 36px;
	width: 69px;
	background: url(images/arrow.png) no-repeat;
	margin-left: 500px;
}

section h2{
	font-size: 50px;
	font-weight: 100;
	color: #474b4e;
	text-align: center;
	line-height: 50px;
}

section h3, section h4{
	font-size: 18px;
	font-weight: 100;
	color: #474b4e;
	text-align: center;
	line-height: 25px;
}

#dark p{
	text-align: center;
	color: #474b4e;
	padding-bottom: 30px;
}

#dark .span2{
  margin-right: 30px;
}

#wood{
  background: #f0f0ec;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.depoimentos{
  background: #2e3133;
  color: #474b4e;
}

.depoimentos h2{
  text-align: left;
}

.depoimentos h3{
  color: #474b4e;
  text-align: left;
}

.end p{
  line-height: 15px;
  font-size: 18px;
  font-weight: 100px;
}

div.span12.photos .span2{
  margin-left: 30px;
}



div.contacts .span1 a{
  text-indent: -9999px;
} 